

body.theme2 {
  display: grid;
  justify-content: center;
}

@import url(//fonts.googleapis.com/css?family=Lato:300:400);

/*header*/
body.theme2 .header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(60deg, rgb(255, 153, 0) 0%, rgb(255, 194, 113) 100%);
  color: rgb(255, 255, 255);
}

/*same as defualt*/
#logo{
    border-radius: 50%;
    width: 150px;
    height:150px;
}
body.theme2 h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
  color:rgb(255, 255, 255);
  
}
body.theme2 #slogan {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 1px;
  font-size:30px;
  color: #008616;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}
.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.flex { 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/*some styling and animation*/
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /* Fix for safari gap */
  min-height: 100px;
  max-height: 150px;
}

body.theme2 .content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: rgb(255, 153, 0);
}

/* Some styling and animation */
body.theme2 .parallax > use {
  fill: rgb(255, 187, 109); /* Updated color */
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*login */
body.theme2 #aa {
    height:750px;
    width:1680px;
    margin: 0;
    display: grid;
    place-items: center;
    background: rgb(255, 187, 109);
    font-size: 1.3em;
  }
  body.theme2 #theme-select{
    margin:5px;
    width: 300px;
    padding:20px;
    height:20px;
    font-size:24px;
    font-family: Arial, Helvetica, sans-serif;
    border:none;
    border-radius:4px;
    background-color: rgb(255, 153, 0);
    color:white;
   
  }

body.theme2
#thetheme,
#thename,
#theage{
  color: #000000;
  z-index:2;
  font-size:20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

#login {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 2;
}
body.theme2 #name,
body.theme2 #age {
  margin:5px;
  width: 100%;
  border-radius: 40px;
  padding:20px;
  height:20px;
  font-size:24px;
  font-family: Arial, Helvetica, sans-serif;
  border:2px solid rgb(0, 255, 0);
  border-radius:12px;
  box-shadow:2px 5px rgb(90, 90, 90);
  
}
body.theme2 #sub {
    display: inline-block;
    padding:20px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(255, 174, 0);
    background-color: rgb(87, 42, 0);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(255, 174, 0);
    
  }
  
  body.theme2 #sub:hover {
    background-color: rgb(180,105,36);
color:#fff;
border:1px solid rgb(87, 42, 0);
}
body.theme2 #sub:active {
    background-color: rgb(180, 105, 36);
    box-shadow: 0 5px rgb(255, 174, 0);
    transform: translateY(4px);
  }

/*some styling and animation*/
body.theme2 .wrapper {
    position: relative;
    width: 550px;
    height: 550px;
    display: grid;
    place-items: center;
  }
  
  body.theme2 .wrapper i {
    position: absolute;
    inset: 0;
    border: 2px solid rgb(0, 0, 0);
    transition: 0.5s;
    z-index: 1;
  }
  
  .wrapper i:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: anim 6s linear infinite;
  }
  
  .wrapper i:nth-child(2),
  .wrapper i:nth-child(3) {
    border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
  }
  
  .wrapper i:nth-child(2) {
    animation: anim 4s linear infinite;
  }
  
  .wrapper i:nth-child(3) {
    animation: anim2 10s linear infinite;
  }
  
  @keyframes anim {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes anim2 {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  

/*kidcalc section*/
body.theme2 #kidcalc{
    background: linear-gradient(60deg, rgb(255, 194, 113) 0%, rgb(255, 153, 0) 100%);
}
#calc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    
}

.ops,
.nums,
.others,
.input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button {
    padding: 10px 20px;
    font-size: 25px;
    margin:10px ;
}

body.theme2 #input-box1{
  border-radius: 40px;
  padding:20px;
  font-size:24px;
  font-family: Arial, Helvetica, sans-serif;
  border:2px solid orange;
  border-radius:12px;
  box-shadow:2px 2px rgb(197, 128, 0);
  height: 50px;
  width: 400px;
  margin-top: 10px;
}
body.theme2 #input-box2{
    border-radius: 40px;
  padding:20px;
  font-size:24px;
  font-family: Arial, Helvetica, sans-serif;
  border:2px solid orange;
  border-radius:12px;
  box-shadow:2px 2px rgb(197, 128, 0);
  height: 50px;
  width: 50px;
  margin-top: 10px;
}
body.theme2 .check{
    padding: 15px 25px;
    font-size: 24px;
    background-color: rgb(9, 255, 0);
    border: none;
    border-radius: 8px;
    margin: 8px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(36, 128, 0, 0.568);
    transition: background-color 0.3s ease;
    color: #000000;

}
/* Styles for numbers */
body.theme2 .num {
    padding: 15px 25px;
    font-size: 24px;
    background-color: rgb(187, 121, 0);
    border: none;
    border-radius: 8px;
    margin: 8px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    color: #ffffff;
}

/* Styles for operators */
body.theme2 .op {
    padding: 15px 25px;
    font-size: 24px;
    background-color: rgb(204, 133, 0);
    border: none;
    border-radius: 8px;
    margin: 8px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    color: #000000;
}

/* Styles for other buttons */
body.theme2 .other {
    padding: 15px 25px;
    font-size: 24px;
    background-color: rgb(223, 145, 0);
    border: none;
    border-radius: 8px;
    margin: 8px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    color:#000000;
}

/* Hover effect */
body.theme2 .num:hover,
body.theme2 .op:hover,
body.theme2 .other:hover {
    background-color: rgb(0, 255, 0);
    color:#000000
}

/* Active effect */
body.theme2 .num:active,
body.theme2 .op:active,
body.theme2 .other:active {
    background-color: #b1ff58;
    color:#000000;
}

/*info section*/
body.theme2 #info {
    height: 370px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url(https://media1.giphy.com/media/x49CRVkHoQCDcCnXpg/giphy.gif?cid=6c09b95239w4lgd6gr3dhd1fw6r9vkuw3hcn6olewgkw82jb&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=ts), url(https://www.bhmpics.com/downloads/cute-dinosaur-backgrounds-/22.cute-dinosaur-seamless-pattern_292254-31.jpg);
    background-position: center bottom, left top;
    background-repeat: no-repeat, repeat;
    background-size: 400px, 500px;
    color:#ff6600;

}


@media (max-width: 390px){
    

  /*logo */
  body.theme2 #logo {
    width: 100px;
    height: 100px;
  }

  /*h1 */
  body.theme2 h1 {
    font-size: 28px;
  }

  /*slogan */
  body.theme2 #slogan {
    font-size: 20px;
  }

  /*logo */
  body.theme2 .logo {
    width: 30px;
    padding-right: 10px;
  }

  body.theme2 .inner-header {
    height: auto;
    padding: 20px;
  }

  body.theme2 .flex {
    flex-direction: column;
  }

  /*waves */
  body.theme2 .waves {
    height: auto;
  }

  body.theme2 .content {
    height: auto;
  }


  /*login */
  body.theme2 #aa {
      width:350px;     
      height: 500px; 
      padding: 40px;
  }
  body.theme2 #theme-select{
    margin:5px;
    width: 150px;
    padding:20px;
    height:20px;
    font-size:14px;      
    border-radius:4px;
  }
  
  body.theme2 #login {
    width: 250px;
    height: 250px;
    gap: 10px;
  }
  body.theme2 #name,
  body.theme2 #age {
    margin:5px;
    width: 130px;
    padding:10px;
    height:15px;
    font-size:14px;
    border-radius:12px;
    
  }
  body.theme2 #sub {
      padding:10px;
      font-size: 20px;    
    }
  /*some styling and animation*/
  body.theme2 .wrapper {
      width: 350px;
      height: 350px;
    }
  /*kidcalc section*/
  body.theme2 #input-box1{
    border-radius: 40px;
    padding:20px;
    font-size:24px;
    border-radius:12px;
    width: 200px;
  }
  body.theme2 #input-box2{
      border-radius: 40px;
    padding:20px;
    font-size:24px;
    border-radius:12px;
  }
  body.theme2 .check{
    padding: 10px 10px;
    font-size: 20px;
    margin: 4px;  
      
      
  }
  /* Styles for numbers */
  body.theme2 .num {
      padding: 10px 10px;
      font-size: 20px;
      margin: 4px;      
  }
  /* Styles for operators */
  body.theme2 .op {
      padding: 10px 20px;
      font-size: 24px;
  }
  
  /* Styles for other buttons */
  body.theme2 .other {
      padding: 10px 20px;
  }
  /*info section*/
  body.theme2 #info {
      height: 300px;
      font-size: 20px;
      background-size: 200px, 500px;
  
  }
}



